{% extends "base.html" %}
{% block content %}
    
    <h1>Kalenteri</h1>
    
        <table class="table table-striped table-bordered">
    
        <tr>
            <th>Pvm</th>
            <th>Klo</th>
            <th>Laji</th>
            <th>Kesto</th>
            <th>Varaa</th>
            <!-- näkyisi vain ylläpitäjä-käyttäjälle: -->
            <th>Muokkaa</th>
        </tr>
        
        <!-- Listataan-->
        {% for tunti in tunnit %}
        
        <tr>
            <!-- ??? <td><a href="{{base_path}}/tunti/{{tunti.id}}">{{tunti.nimi}}</a></td> -->
            <td>{{tunti.pvm}}</td>
            <td>{{tunti.klo}}</td>
            <td>{{tunti.laji_id}}</td>
            <td>{{tunti.kesto}}</td>
            <!--varaamiseen $max_varaukset-tarkistus: jos tilaa, nappi vihreä, jos ei, punainen -->
            <th><a class="btn btn-default btn-sm" href="#">Varaa</a></th>
            <!-- näkyisi vain ylläpitäjälle & onko erillinen sivu, vai aukeaako kentät muokattaviksi, miten? -->
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaa">Muokkaa</a></th>
        </tr>
        
        {% endfor %}
    
        </table>
    
{% endblock %}