{% extends "base.html" %}
{% block content %}
    <h1>Kalenteri</h1>
        <table class="table table-striped table-bordered">
        <tr>
            <th>Pvm</th>
            <th>Klo</th>
            <th>Laji</th>
            <th>Kesto</th>
            <th>Varaa</th>
            <th>Muokkaa</th> <!-- näkyisi vain ylläpitäjälle??-->
        </tr>
        <!-- Listataan-->
        <tr>
            <td><a href="#">maanantai 14.9.2015</a></td>
            <td>18.00</td>
            <td>Jooga</td>
            <td>75 min</td>
            <th><a class="btn btn-default btn-sm" href="#">Varaa</a></th>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/muokkaa">Muokkaa</a></th> <!-- näkyisi vain ylläpitäjälle??-->
        </tr>
    </table>
{% endblock %}