{% extends "base.html" %}
{% block content %}
    
    <h1>Lajit</h1>
    
        <table class="table table-striped table-bordered">
    
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
        </tr>
        
        <!-- Listataan-->
        {% for laji in lajit %}
        
            <tr>
                <!-- ??? <td><a href="{{base_path}}/laji/{{laji.id}}">{{laji.nimi}}</a></td> -->
                <td>{{laji.nimi}}</td>
                <td>{{laji.kuvaus}}</td>
            </tr>
        
        {% endfor %}
    
        </table>
    
{% endblock %}